<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
    <script async src="/cdn-cgi/bm/cv/669835187/api.js"></script>
  </head>
  <body>
    <div class="page-wrapper">
      <div class="navigate-wrapper">
        <a href="index.html">page 1</a>
        <a href="page2.html">page 2</a>
        <a href="page3.html">page 3</a>
      </div>

      <form onsubmit="handleFormSubmit(event)">
        <input placeholder="placeholder" id="query" />
        <button type="submit">Submit</button>
      </form>

      <div class="result-wrapper" id="page2-result-box">
        <!-- <div class="card">
            <div class="card-header">
               <div class="card-sub-header">
                <p class="artist">Artist</p>
                <p class="song">song</p>
               </div>
                <p class="rank">rank</p>
            </div>
            <p class="lyric">lyrics</p>
        </div> -->
      </div>
    </div>
    <script type="text/javascript">
      (function () {
        window["__CF$cv$params"] = {
          r: "6de978f93ff526c9",
          m: "9a8uQ5GmLseq3W.2UMBW0Xw2AiHWF1ML.Qu4PNQGN5c-1645042784-0-AZAfsjbPn3rZrQNIsAMPuerAM40IHbM3tjDxYS0mY9SGlBdhXul8V6c6tthftEnYsgGjjI3moFNpWuRvPpFEl6igxJjoLKUmpslALwN1PDbD/OsbLx8Xthzmv1LdGhgivOWv8Md7HHL6BfW7cZxZkz7EylSd213R5oBUfSZHo65YXuC0J5pV1jHD4qwEIrHDyw==",
          s: [0x32ea45a841, 0x9a19933fdc],
        };
      })();
    </script>
  </body>
  <script src="page2.js"></script>
</html>
