<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
<script async src='/cdn-cgi/bm/cv/669835187/api.js'></script></head>
<body>
    
    <div class="page-wrapper">
        <div class="navigate-wrapper">
            <a href="index.html">page 1</a>
            <a href="page2.html">page 2</a>
            <a href="page3.html">page 3</a>
        </div>

        <form onsubmit="">
            <input placeholder="placeholder" />
            <button type="submit">Submit</button>
        </form>

    <div class="result-wrapper" id="page3-result-box">
       <div class="card" id="error-result">wrong</div>
    </div>

    </div>
<script type="text/javascript">(function(){window['__CF$cv$params']={r:'6de979080cb926c9',m:'xOkQXSgK6H_sm47XllwdjihE23f1_39bv9u8QlFYi8Y-1645042786-0-AftoraeIgiq0EmUDE6ICD5Cnv15uZyj8X6oe8yfI4dT29WQZFVAHdcHo2vjSqIL+cuw4rJ5DRzXVkHaSq5cXvuJkzIIUFykxLHWWB825XX0f0YFQBy/W2uND/lj1h1d5+H5U0REjv/zadT2J2KpJubaHRY3uRKMAYR34nD6sEilCTpq76TvKLqcp25C2y7VKvQ==',s:[0x85a1ecc432,0xedbfd649b5],}})();</script></body>
<!-- inpoty script here -->
</html>